body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.banner-image{
    width: 100%;
    display: block;
  
}
.content-container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.footer {
background-color: #858484;
padding: 10px;
text-align: center;
position: absolute;
bottom: 0;
width: 100%;
}

/* Estilos para los botones */
.button {
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff; /* Color del texto en los botones */
}

.button.home-button {
    background-color: #007bff; /* Color azul para el botón Home */
}

.button.add-button {
    background-color: #28a745; /* Color verde para un botón de agregar */
}

.button.edit-button {
    background-color: #ffc107; /* Color amarillo para un botón de editar */
}

.button.delete-button {
    background-color: #dc3545; /* Color rojo para un botón de eliminar */
}
.button.photos-button {
    background-color: #17a2b8; /* Color cyan para el botón de fotos */
}