<!DOCTYPE html>
<html>

<head>
    <title>plantilla</title>

</head>

<body class="body">
    <style>
.body{
    margin: 0;
}
    </style>
    <style>
        .footer {
            background-color: #858484;
            padding: 10px;
            text-align: center;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>

    <!-- Banner de la parte superior -->

    <img src="/static/buga/banner.png" alt="Banner" style="max-width: 100%; height: auto;">

    <!-- Contenido de la página -->
    <div style="max-width: 800px; margin: 0 auto; padding: 20px;">

        <!-- Contenido de la página -->
        <h1>Bienvenido a mi página</h1>
        <p>Aquí puedes agregar tu contenido.</p>

        <!-- Puedes agregar más contenido aquí -->

    </div>


</body>


</html>