<!DOCTYPE html>
<html>
<head>
    <title>Usuarios</title>
    <link rel="stylesheet" href="/static/estilosusu.css">
</head>
<body>
<style>

    .footer {
        background-color: #858484;
        padding: 10px;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>

<!-- Banner de la parte superior -->
<div class="banner">
    <img src="/static/buga/banner.png"  style="max-width: 100%; height: auto;">
</div>

<!-- Contenido de la página -->
<!-- Contenido de la página -->
<div class="content-container">

    <table border="10px">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
           <!--  {% for med in res %} -->
                <tr>
                    <td>1</td>
                    <td>pepito perez</td>
                    <td>3148142</td>
                    <td>pepitop@gmail.com</td>
                    <td>admin</td>
                    <td>
                            
                            <button class="button edit-button"><i class="fas fa-edit"></i> Editar</button>
                            <button class="button delete-button"><i class="fas fa-trash"></i> Eliminar</button>
                    </td>
                    <!--    <img class="img-thumbnail" width="100" src="uploads/{{med[3]}}" alt=""> 
                    </td>
                    <td><a href="/editamed/{{med[0]}}">Editar</a></td>
                    <td><a onclick="return confirm('¿Seguro elimina este médico?')" href="/borramed/{{med[0]}}">Borrar</a></td> -->
                </tr>
           <!--  {% endfor %} -->
        </tbody>
    </table>

</div>


</body>

</html>
