<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>categoriasr</title>
  <link rel="stylesheet" href="/static/css.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <style>
    body, html {
        margin: 0;
        padding: 0;
        background-color: #eff0f4;
    }
</style>
</head>
<body>
    <a href="login.html">
        <div class="user">
          <img src="../static/html/user.png" class="user">
        </div>
      </a>
    <div class="banner">
        <img src="../static/buga/banner.png" alt="Banner Image" class="banner-image">
      </div>

      <div class="categorias">
        <img src="../static/html/CATEGORIAS.png" alt="Banner Image" class="banner-image">
      </div>


<a href="sitios.html">
<div class="fo1">      
      <img src="../static/imagenes/div.png" alt=" ejemplo" class="ejemplo">
</div>
</a>

<a href="gastronomico.html">
  <div class="fo2">      
        <img src="../static/imagenes/aw.png" alt=" ejemplo" class="ejemplo">
  </div>
  </a>

  <a href="religioso.html">
    <div class="fo3">      
          <img src="../static/imagenes/reli.png" alt=" ejemplo" class="ejemplo">
    </div>
    </a>

    <a href="cultural.html">
      <div class="fo4">      
            <img src="../static/imagenes/cultu.png" alt=" ejemplo" class="ejemplo">
      </div>
      </a>


</body>
<div class="footer">
  @2023. todos los derechso reservados
</div>
</html>
